<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment, { type:"button", class:"btn btn-info" } %>
<%= link_to 'Back', comments_path, { type:"button", class:"btn btn-info" } %>
