<h4>Comments</h4>
<body>
<form accept-charset="UTF-8" method="get">
  <label for="q">Title:</label>
  <input id="comment_title" name="q" type="text" />
  <label for="q">Comment:</label>
  <textarea></textarea>
  </form>
  <%= link_to 'Main Page', root_path %>
</body>
</html>
