 <h1 class="jumbotron-heading">Main Page</h1>
<body>
  <%= render 'menu' %>
  <br>
  <%= link_to 'Comments', comments_path,  { type:"button", class:"btn btn-dark" }%>
  <%= link_to 'User Information', user_informations_path,  { type:"button", class:"btn btn-dark" } %>
    <%= yield %>
  </body>
</html>